* {box-sizing: border-box; font-size: 1.4em}

.colored {background-color: lightsalmon;}

p.colored {font-weight: bold;}

#sp1 {
    display: block;
} 

#p3 {
    display: inline-block;
    width: 400px;
}

.blues {
    
}