#cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 75px auto 0;
    gap: 2px;
    border-radius: 30%;
    overflow: hidden;

}
#cont div{
    font-size: 1.6em;
    text-align: center;
    align-content: center;
    font-weight: bold;
    transition: all 650ms; 
}

#cont div:hover{
    box-shadow: 0 0 15px 5px inset black;    
}

#cont div:first-child{
    background-color: rgb(236, 36, 36);
    grid-row: 2/4;
    grid-column: 1/2;
    
}
#cont div:nth-child(2){
    background-color: rgb(6, 153, 35);
    grid-row: 1/3;
    grid-column: 3/4;
}
#cont div:nth-child(3){
    background-color: rgb(244, 236, 10);
    grid-row: 3/4;
    grid-column: 2/4;
}
#cont div:nth-child(5){
    background-color: rgb(106, 0, 255);
    grid-row: 1/2;
    grid-column: 1/3;
    
}
#cont div:nth-child(4){
    background-color: rgb(89, 89, 89);
    grid-column: 2/3;
    grid-row: 2/3;
    
}
